POSTGRES_PASSWORD=change_me_to_strong_password
SMTP_AUTH_ENABLED=true
SMTP_SECURITY=STARTTLS
SMTP_SERVER=smtp.company.local
SMTP_PORT=587
SMTP_USERNAME=mattermost@uaz-rosatom.ru
SMTP_PASSWORD=change_me_to_smtp_password
SMTP_FROM=mattermost@uaz-rosatom.ru