POSTGRES_PASSWORD=change_me_to_strong_password
CALLS_UDP_PORT=8443
CALLS_TCP_PORT=8443
CALLS_ICE_HOST_OVERRIDE=PUBLIC_IP_OR_FQDN
CALLS_ICE_HOST_PORT_OVERRIDE=8443
CALLS_DEFAULT_ENABLED=true
CALLS_ALLOW_ENABLE_CALLS=true
SMTP_AUTH_ENABLED=true
SMTP_SECURITY=STARTTLS
SMTP_SERVER=smtp.company.local
SMTP_PORT=587
SMTP_USERNAME=mattermost@uaz-rosatom.ru
SMTP_PASSWORD=change_me_to_smtp_password
SMTP_FROM=mattermost@uaz-rosatom.ru